<label class="checkbox">
  <input type="checkbox" class="checkbox__input"{% if checked %}checked{% endif %}>
  <span class="checkbox__icon"></span>
  <span class="checkbox__text">{{text}}</span>
</label>
